<!DOCTYPE html>
<html>
<head>
    <script src="https://res.cdn.office.net/teams-js/2.2.0/js/MicrosoftTeams.min.js"
            integrity="sha384yBjE++eHeBPzIg+IKl9OHFqMbSdrzY2S/LW3qeitc5vqXewEYRWegByWzBN/chRh"
            crossorigin="anonymous">
    </script>
    <script>
        // Initialize the library
        await microsoftTeams.app.initialize();
    </script>
</head>
<body>
    <h1>Personal Tab</h1>
    <p>This is your personal tab!</p>
</body>
</html>