@using MyKudos.Gateway.Domain.Models;
@using MyKudosDashboard.Interfaces;
@using MyKudosDashboard.Models;
@using MyKudosDashboard.Common;
@using Microsoft.Extensions.Localization
@using System.Globalization

@inject ICommentsView CommentsView;
@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JSRuntime
@inject KudosCommonVariables CommonVariables;

<FluentDialog @ref=_replyKudosFluentDialog
                      aria-label="Simple dialog" Modal="true"
                      class="both-gradient" 
                      style=@Style
                      Hidden=@ModalHidden>



    <div>
        <button style="float:right;padding-right:5px" 
                type="button" class="close" data-dismiss="modal" aria-label="Close" 
                @onclick=@(() => CloseClick())>
            <span aria-hidden="true">&times;</span>
        </button>

        <KudosComments KudosItem=@_item/>
    </div>
</FluentDialog>


@code {

    [Parameter]
    public bool ModalHidden { get; set; } = true;

    [Parameter]
    public string Style { get; set; } = "--dialog-height: 95vh;--dialog-width: calc(40vw + 180px);";

    private FluentDialog _replyKudosFluentDialog;

    private KudosResponse _item { get; set; }

 

    public void ShowModal(KudosResponse kudos)
    {
        _item = kudos;
        
        ModalHidden = false;
               
        InvokeAsync(StateHasChanged);
    }

    public void CloseClick()
    {
        ModalHidden = true;
        _replyKudosFluentDialog!.Hide();

    }

    private void OnDismiss(EventArgs args)
    {

        ModalHidden = true;

        _replyKudosFluentDialog!.Hide();

    }

  


   


}
