@using Microsoft.Extensions.Options
@inject NavigationManager NavigationManager

<div style="margin:10px">

    <div style="display: flex; justify-content: space-between;">
        <div style="width:70%">
            <h5>Settings</h5>
        </div>

        <div style="width:30%">
            <FluentButton style="margin-left:5px;padding-top: 0px;height: 28px;" @onclick=@(()=>NavigateBackClick())>
                <FluentIcon Name="@FluentIcons.ArrowCircleLeft"  Slot="start" Size="@IconSize.Size20" Filled=true />
                Back
            </FluentButton>
        </div>
    </div>    

    <FluentTabs Orientation="Orientation.Vertical" style="width:80%">

        <FluentTab>Recognition Group</FluentTab>
        <FluentTab>Recognition</FluentTab>
        <FluentTab>Administrators</FluentTab>        
        <FluentTab>Score</FluentTab>
        <FluentTab>Azure Open AI</FluentTab>

        <FluentTabPanel style="margin-left:50px; margin-top:10px">
            <RecognitionGroupAdmin/>          
        </FluentTabPanel>

        <FluentTabPanel style="margin-left:50px; margin-top:10px">
            <RecognitionAdmin />
        </FluentTabPanel>

        <FluentTabPanel style="margin-left:50px; margin-top:10px">
            <AdminUsers />
        </FluentTabPanel>

        <FluentTabPanel style="margin-left:50px; margin-top:10px">
            <Score />
        </FluentTabPanel>

        <FluentTabPanel style="margin-left:50px; margin-top:10px">
            <AzureOpenAI />
        </FluentTabPanel>

    </FluentTabs>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    private void NavigateBackClick()
    {
        NavigationManager.NavigateTo("/tab");
    }

}