
<style>
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        background-color: black;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }

    .main-scroll-div {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid red; */
    }

    .cover {
        position: relative;
        width: 90%;
        height: 50%;
    }

        .cover::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            z-index: 99;
            height: 100%;
            width: 150px;
            background-image: linear-gradient(90deg, black, transparent);
        }

        .cover::after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            z-index: 99;
            height: 100%;
            width: 150px;
            background-image: linear-gradient(-90deg, black, transparent);
        }

    .scroll-images {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        align-items: center;
        overflow: auto;
        position: relative;
        scroll-behavior: smooth;
    }

    .child {
        min-width: 600px;
        height: 450px;
        margin: 1px 10px;
        cursor: pointer;
        border: 1px solid rgba(207, 201, 201, .3);
        overflow: hidden;
    }

    .scroll-images::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .child-img {
        width: 100%;
        height: 100%;
    }

    .icon {
        color: rgb(67, 247, 76);
        background-color: black;
        font-size: 50px;
        outline: none;
        border: none;
        padding: opx 20px;
        cursor: pointer;
    }

        .icon:hover {
            color: yellow;
        }
</style>




 <div class="main-scroll-div">
        <div>
            <button class="icon" onclick="scrolll()"> <i class="fas fa-angle-double-left"></i></button>
        </div>
        <div class="cover">
            <div class="scroll-images">
                <div class="child"><img class="child-img" src="images/alex-motoc-0POwK6iAiRQ-unsplash.jpg" alt="image"></div>
                <div class="child"><img class="child-img" src="images/alexander-andrews-BX4Q0gojWAs-unsplash.jpg" alt="image"></div>
                <div class="child"><img class="child-img" src="images/eberhard-grossgasteiger-GoSCLOjUQ08-unsplash.jpg" alt="image"></div>
                <div class="child"><img class="child-img" src="images/jakob-owens-O_bhy3TnSYU-unsplash.jpg" alt="image"></div>
                <div class="child"><img class="child-img" src="images/kajetan-sumila-4pSxYHIOvKM-unsplash.jpg" alt="image"></div>
                <div class="child"><img class="child-img" src="images/vincent-van-zalinge-vUNQaTtZeOo-unsplash.jpg" alt="image"></div>
            </div>
        </div>
        <div>
            <button class="icon" onclick="scrollr()"> <i class="fas fa-angle-double-right"></i></button>
        </div>
    </div>


@code {

}
