@using MyKudosDashboard.Common;
@using MyKudosDashboard.Interfaces;
@using MyKudos.Gateway.Domain.Models;
@using Microsoft.Extensions.Localization
@using System.Globalization


@inject ITopContributorsView TopContributorsView;
@inject IStringLocalizer<App> Localizer;
@inject KudosCommonVariables CommonVariables;

<div class="card-body w-auto">

    
    <div class="list-group list-group-checkable d-grid gap-1 border-0 " style="z-index: auto ;height:78vh;overflow-y:scroll;width:100%;overflow:auto">


         @if (_isLoaded)
         {

            @foreach (var item in _topContributors)
            {

                <div class="profile" style="padding-top: 0px;padding-bottom: 0px;">
                    <div class="avatar">
                        <img src=@item.Photo style="height:7vh;width:7vh;border-radius: 50%" />
                    </div>
                    <div class="info">
                        <small class="small60">@item.Name</small>
                        <h2 class="card-title pricing-card-title" style="padding-bottom:1vh">
                            @item.Score<small class="text-muted fw-light" style="margin-left: 3px;">@Localizer["Points"]</small>
                        </h2>
                    </div>
                </div>
            }
         }

    </div>

</div>

@code {

    [Parameter]
    public UserProfile User { get; set; }

    private IEnumerable<MyKudos.Gateway.Domain.Models.TopContributors> _topContributors;
    private bool _isLoaded = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadTopContributors();

        TopContributorsView.TopContributorsCallBack = UpdateTopContributorsCallBack;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (User != null)
        {
            TopContributorsView.RegisterObserver(User.UserProfileId.ToString());
        }

        if (firstRender)
            LoadTopContributors();
    }

    /// <summary>
    /// Called by the Welcome.razor page after the visualize just my team toggle value change
    /// </summary>
    public void LoadTopContributors()
    {
        TopContributorsView.GetTopContributors(CommonVariables.GetManagerId()).ContinueWith(t =>
      {
          _topContributors = t.Result;
          _isLoaded = true;
          InvokeAsync(StateHasChanged);
      });
    }

    private void UpdateTopContributorsCallBack()
    {
        LoadTopContributors();

    }

}
