@using MyKudosDashboard.Common;
@using MyKudosDashboard.Interfaces;
@using MyKudos.Gateway.Domain.Models;
@using Microsoft.Extensions.Localization
@using System.Globalization


@inject ITopContributorsView TopContributorsView;
@inject IStringLocalizer<App> Localizer;
@inject KudosCommonVariables CommonVariables;

<div class="card-body w-auto">

    
    <div class="list-group list-group-checkable d-grid gap-1 border-0 " 
         style="z-index: auto ;height:78vh;overflow-y:scroll;width:100%;overflow:auto;padding-left:2vh">


         @if (_isLoaded)
         {

            @foreach (var item in _topContributors)
            {
                <div style="display: grid; grid-template-columns: 1fr 8fr;margin-top:2vh ">
                    <div class="info" style="float:left">
                        <img src=@item.Photo
                             style="height:7vh;width:7vh;float:left;border-radius: 50%" />
                    </div>

                    <div>
                        <small class="small65" style="grid-column: 1 / span 3;margin-top:1vh;padding-left:10px">
                            @item.Name</small>
                        <h2 class="card-title pricing-card-title" style="padding-bottom:1vh;grid-column: 1 / span 3;padding-left:10px">
                            @item.Score
                            <small class="text-muted fw-light" style="margin-left: 3px;">@Localizer["Points"]</small>
                        </h2>
                    </div>
                </div>

               
            }
         }

    </div>

</div>

@code {


    private IEnumerable<MyKudos.Gateway.Domain.Models.TopContributors> _topContributors;
    private bool _isLoaded = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadTopContributors();

        TopContributorsView.TopContributorsCallBack = UpdateTopContributorsCallBack;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (CommonVariables != null)
        {
            TopContributorsView.RegisterObserver(CommonVariables.User.UserProfileId.ToString());
        }

        if (firstRender)
            LoadTopContributors();
    }

    /// <summary>
    /// Called by the Welcome.razor page after the visualize just my team toggle value change
    /// </summary>
    public void LoadTopContributors()
    {
        TopContributorsView.GetTopContributors(CommonVariables.GetManagerId()).ContinueWith(t =>
      {
          _topContributors = t.Result;
          _isLoaded = true;
          InvokeAsync(StateHasChanged);
      });
    }

    private void UpdateTopContributorsCallBack()
    {
        LoadTopContributors();

    }

}
