@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using MyKudosDashboard.Interfaces;
@using MyKudosDashboard.Models;

@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IWelcomeView WelcomeView;

@if (isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <FluentProgressRing />
    </div>
}
else
{

    <style>
        div {
            float: left;
            padding: 5px;
        }

        .div1 {
        }

        .div2 {
        }
    </style>



    <div class="welcome page" style="padding-top:0px">

         

        <div class="row align-items-start" style="clear: both;height:90vh;">
            

            <div class="col-2" style="height:100%;min-width:300px">

                <!-- PROFILE -->
                <div class="card mb-4 rounded-3 shadow-sm" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;height:100%">

                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">🚀 Profile</h4>
                        </div>

                        <div class="card-body">

                            <div class="profile" >
                                <div class="avatar" style="float:none" >
                                    <img src=@userPhoto style="height:80px;width:80px;border-radius: 50%;align-content:left" />                                
                                </div>

                                <div class="info" >
                                    <h5>@user.DisplayName</h5>
                                    <h2  class="card-title pricing-card-title">
                                        500
                                        <small class="text-muted fw-light">XP</small>                                    
                                        </h2>                                
                                </div>   
                                
                                <div style="clear:both;">
                                    <p>Achievements</p>

                                    <img src="badges/badge01.png" style="height:80px;width:80px;" />
                                    <img src="badges/badge02.png" style="height:80px;width:80px;"/>
                                    <img src="badges/badge03.png" style="height:80px;width:80px;" />
                                </div>

                          
                        </div>
                        
                        </div>

                    <FluentButton style="height:60px;margin:5px;" @onclick=@(()=>OpenSendKudosPanel()) >
                        <span>Send Kudos</span>
                        <FluentIcon Name="@FluentIcons.Send" Slot="start" Size="@IconSize.Size24" Filled=true />
                    </FluentButton>

                   

                    </div>
                </div>

            <div class="col-4 " style="height:100%">

                <div class="card mb-3 rounded-3 shadow-sm" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;height:100%">
                    <div class="card-header py-3" >
                    <h4 class="my-0 fw-normal" >👏 Kudos</h4>
                       
                </div>

                        <div class="card-body " >

                    <FluentTabs>
                            <FluentTab Text="All"></FluentTab>
                            <FluentTab Text="Kudos to me" />
                            <FluentTab Text="Kudos from me" />

                            <FluentTabPanel >
                                <KudosList kudos=@GetAllKudos() />                                   
                                </FluentTabPanel>
                            <FluentTabPanel>                                
                                <KudosList kudos=@GetKudosToMe()/>
                            </FluentTabPanel>
                            <FluentTabPanel >
                                <KudosList kudos=@GetKudosFromMe() />
                            </FluentTabPanel>
                            
                    </FluentTabs>

                           

                </div>
                               
                    
                </div>
                </div>

            <div class="col-2 " style="height:100%">

                <div class="card mb-4 rounded-3 shadow-sm" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;height:100%">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">🥇 Top Contributors</h4>
                        </div>
                        <div class="card-body w-auto" >


                            <div class="list-group list-group-checkable d-grid gap-1 border-0 " style="min-width: 350px;height:75vh;overflow-y:scroll">

                                  <div class="profile" style="padding-top: 0px;padding-bottom: 0px;">
                                    <div class="avatar">
                                        <img src="profiles/zoro.png" style="height:80px;width:80px;float:left;border-radius: 50%" />
                                    </div>
                                    <div class="info" >
                                        <h5>Roronoa Zoro</h5>
                                        <h2 class="card-title pricing-card-title">650<small class="text-muted fw-light">XP</small></h2>
                                    </div>
                                </div>

                                <div class="profile" style="padding-top: 0px;padding-bottom: 0px;">
                                    <div class="avatar">
                                        <img src="profiles/luffy.png" style="height:80px;width:80px;float:left;border-radius: 50%" />
                                    </div>
                                    <div class="info" >
                                        <h5>Monkey D Luffy</h5>
                                        <h2 class="card-title pricing-card-title">500<small class="text-muted fw-light">XP</small></h2>
                                    </div>
                                </div>

                                <div class="profile" style="padding-top: 0px;padding-bottom: 0px;">
                                    <div class="avatar">
                                        <img src="profiles/nami.png" style="height:80px;width:80px;float:left;border-radius: 50%" />
                                    </div>
                                    <div class="info">
                                        <h5>Nami Cat Burglar</h5>
                                        <h2 class="card-title pricing-card-title">400<small class="text-muted fw-light">XP</small></h2>
                                    </div>
                                </div>

                                <div class="profile" style="padding-top: 0px;padding-bottom: 0px;">
                                    <div class="avatar">
                                        <img src="profiles/sogeking.jpg" style="height:80px;width:80px;float:left;border-radius: 50%" />
                                    </div>
                                    <div class="info">
                                        <h5>Sogeking</h5>
                                        <h2 class="card-title pricing-card-title">100<small class="text-muted fw-light">XP</small></h2>
                                    </div>
                                </div>

                                 <div class="profile" style="padding-top: 0px;padding-bottom: 0px;">
                                    <div class="avatar">
                                        <img src="profiles/sandi.jpeg" style="height:80px;width:80px;float:left;border-radius: 50%" />
                                    </div>
                                    <div class="info">
                                        <h5>Sandi</h5>
                                        <h2 class="card-title pricing-card-title">50<small class="text-muted fw-light">XP</small></h2>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            <SendKudos @ref=sendKudosPanel ModalHidden=@sendKudosIsHidden UserProfile=@user UserPhoto=@userPhoto />
         
        </div>


</div>

}


@code {

    UserInfo user;

    string errorMessage;
    bool isInTeams;
    bool isLoading = true;

    private string userPhoto;

    private SendKudos sendKudosPanel;
    private bool sendKudosIsHidden = true;

    private void OnOpenModalParameterButtonClick() => sendKudosIsHidden = false;
    private void OnCloseModalParameterButtonClick() => sendKudosIsHidden = true;

    private IEnumerable<KudosResponse> kudos;

    private void OnDismiss()
    {
        sendKudosIsHidden = true;

    }


    private IEnumerable<KudosResponse> GetAllKudos()
    {

        return kudos;
    }

    private IEnumerable<KudosResponse> GetKudosToMe()
    {

        return kudos.Where(k => k.To.Id == user.ObjectId);
    }

    private IEnumerable<KudosResponse> GetKudosFromMe()
    {

        return kudos.Where(k => k.From.Id == user.ObjectId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            isInTeams = await MicrosoftTeams.IsInTeams();

            if (isInTeams)
            {
                user = await teamsUserCredential.GetUserInfoAsync();

                userPhoto = await WelcomeView.GetUserPhoto(user.ObjectId);

                kudos = WelcomeView.GetKudos();

            }
            else
            {
                errorMessage = "Not running in Microsoft Teams.";
            }

            isLoading = false;
            StateHasChanged();


        }
    }
       
    private void OpenSendKudosPanel()
    {
       

      sendKudosPanel.Show( () =>
      {
          sendKudosIsHidden = true;
      
      });
    }
}

